
<form>
    <div class="form-row">

        <div class="form-group col-md-3">
            <label>Genêro</label>
            <select id="genero" class="form-control form-control-sm">
                <option selected>Escolha um Genêro</option>
                <option value="AC">Ação</option>
                <option value="AL">Animação</option>
                <option value="AP">Aventura</option>
                <option value="AM">Comédia</option>
                <option value="BA">Documentário</option>
                <option value="CE">Fantasia</option>
                <option value="DF">Faroeste </option>
                <option value="ES">Ficção Científica</option>
                <option value="GO">Guerra</option>
                <option value="MA">Musicais</option>
                <option value="MT">Romance</option>
                <option value="MS">Suspense</option>
                <option value="MG">Terror</option>
                <option value="PA">Tragédia</option>
                <option value="PB">Drama</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label>Data de Lançamento</label>
                <div id="datetimepicker1">
                    <input type="d" class="form-control form-control-sm" />
                </div>
        </div>


        <div class="form-group col-md-3">
            <label>Nome</label>
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' id="nome" class="form-control form-control-sm" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

    </div>
</form>